body{
	background-size: 100%;
    background-repeat: no-repeat;
    color: black;
}

.btn {
    /* adding spacing between each button*/
    margin: 3px;
    background-color: #999999;
    border-color: #fff;
}

}
div#footer {
	clear: both;
	margin-top: 40px;
	position: center;
	bottom: 0;
	left: 0;
	text-align: center;
}
